.settings_container > .settings_header > h3 {
    display: inline-flex;
    padding-left: 1em;
    align-items: center;
}

.settings_container > .settings_inputs {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.settings_container > .settings_inputs > div {
    flex: 1 1 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-width: 0;
}