.icon_button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  gap: 0.25em;
}

.icon_button::after {
  position: absolute;
  font-size: 0.5em;
  font-weight: bold;
  top: -0.5em;
  right: -0.25em;
  width: 1.4em;
  height: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #428bca;
  color: white;
}

.icon_button:first-of-type {
  margin-left: 0.25em;
}

.icon_button:last-of-type {
  margin-right: 0.25em;
}

.icon_button.primary {
  border-radius: 5px;
  padding: 0.3em 0.4em;
  background-color: #428bca;
  color: #fff;
  border: none;
  text-decoration: none;
  transition: 0.1s;
  margin: 0 0.2em;
}

.icon_button:not(.primary):hover i,
.icon_button:not(.primary):focus i,
.icon_button:not(.primary):focus-within i {
  color: #428bca;
}

.icon_button.primary > * {
  font-size: 0.8em;
}

.icon_button.primary:hover,
.icon_button.primary:focus,
.icon_button.primary:focus-within {
  background-color: #2e6390;
}
