.item > .info > .bottom {
  grid-template-areas:
    "preview stats"
    "preview cannons"
    "aptitude aptitude";
}

.item > .info > .bottom > .stats {
  grid-area: stats;
}
.item > .info > .bottom > .stats > .basemove > .L {
  color: red;
}
.item > .info > .bottom > .stats .item > .info > .bottom > .cannons {
  display: flex;
  align-items: center;
}
.item > .info > .bottom > .stats img,
.item > .info > .bottom > .cannons img:first-child {
  height: 0.8em;
  margin-left: 0.4em;
  margin-right: 0.2em;
}

.item > .info > .bottom > .cannons {
  grid-area: cannons;
}

.item > .info > .bottom > .cannons img {
  height: 0.8em;
  margin-left: 0.15em;
}

.item > .info > .bottom > .stats,
.item > .info > .bottom > .cannons {
  background-color: #000;
  padding: 0.1em;
  padding-right: 0;
  border-radius: 2px;
}

.item > .info > .bottom > .aptitude {
  grid-area: aptitude;
}

.item > .cargo {
  margin-top: 0.5em;
  padding: 0.6em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.item > .cargo {
  list-style-type: none;
  color: white;
  font-family: Windlass, sans-serif;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 0px 0px 4px, rgb(0, 0, 0) 0px 0px 2px, rgb(0, 0, 0) 1px 1px 0px;
  flex-grow: 10000;
}

.item > .cargo > li {
  margin: 0;
  padding: 0.25em;
  display: flex;
  align-items: center;
}

.item > .cargo > li > .points {
  line-height: 1.4;
  font-size: 1em;
  min-width: 1.75em;
  height: 1.75em;
  border: 2px solid #111;
  border-radius: 2px;
  background-color: #222;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.item > .cargo > li > .faction {
  user-select: none;
  height: auto;
  width: 1.5em;
}
