
#fleet_container .display_container .items {
    padding-top: 1.5em;
}

.actions button {
    position: relative;
}

.actions button[data-crew-room]::after {
    content: attr(data-crew-room);
    position: absolute;
    font-size: 0.6em;
    top: -0.7em;
    right: -0.7em;
    width: 1.4em;
    height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: white;
}