.actions button[data-crew-room]::after {
  content: attr(data-crew-room);
}

.actions button[data-equipments-room]::after {
  content: attr(data-equipments-room);
}

.actions button[data-treasures-count]::after {
  content: attr(data-treasures-count);
}

#fleet_container .info .title {
  margin: 0;
}

#fleet_container .info .settings {
  font-size: 1.2em;
}

.description {
  box-shadow: none;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.description,
.description textarea {
  width: 100%;
}

.description textarea {
  border: none;
  resize: none;
  max-height: 10em;
  font-family: inherit;
  line-height: 0.7;
}

.description textarea:focus-visible {
  outline: none;
}

#copy_fleet textarea {
  width: 100%;
  height: 99%;
}

[data-unsaved]::after {
  content: "✱";
  background-color: red;
}
