.items {
  padding: 1.5em 0.5em 0.5em;
  margin-bottom: 0;
  list-style-type: none;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5em, min(23em, 100%)));
  grid-template-rows: inherit;
  justify-content: center;
  gap: 1em;
}
