.modal-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-shadow.hidden {
  display: none;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 100%;
  max-height: 100%;
  background: #f6f6f6;
  border-radius: 20px;
  padding: 1.5em;
}

@media only screen and (max-width: 42em) {
  .modal-shadow {
    padding: 0;
  }

  .modal-container {
    border-radius: 0;
  }

  .modal-container {
    padding: 1em;
  }
}

.modal-header {
  width: 100%;
  flex: 0 0 auto;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title h2 {
  color: #333;
  margin: 0;
}

.modal-title h3 {
  color: #666;
  margin: 0.5em 0 0 0;
}

.modal-content {
  display: flex;
  overflow: auto;
  flex: 1;
}
