form.validation_input {
    display: inline-block;
}

form.validation_input > div {
    display: flex;
}

form.validation_input > div > input {
    flex: 1 1 0;
}

form.validation_input > div > i {
    flex: 0 0 auto;
}