#content_container {
    display: flex;
    flex-direction: column;
    height: 99.5vh;
}

@media only screen and (max-width : 992px) {
    #content_container {
        height: 199.5vh;
        font-size: 0.9em;
    }
}

#content_container * {
    box-sizing: border-box;
}

#content_container h2 {
    font-family: Windlass, Roboto, sans-serif;
    margin: 0;
}

#fleet_builder {
    flex-grow: 1;
    overflow-y: hidden;
}

.actions {
    text-align: right;
}

.fa-coins {
    color: darkgoldenrod;
}

.main_container {
    position: relative;
    padding: 0 1em;
    padding-bottom: 0.7em !important;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    gap: 1em;
}

@media only screen and (max-width : 992px) {
    .main_container {
        flex-direction: column;
        align-items: normal;
    }
}

@media only screen and (max-width : 672px) {
    .main_container {
        padding: 0;
    }
}

.main_container > * {
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: hidden;
    height: 100%;
}