#content_container {
  display: flex;
  flex-direction: column;
  min-height: min(99.5vh, 65em);
  line-height: 1.3;
}

@media only screen and (max-width: 62em) {
  #content_container {
    min-height: min(199.5vh, 80em);
    font-size: 0.9em;
  }
}

#content_container * {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

#fleet_builder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.actions {
  text-align: right;
}

.fa-coins {
  color: darkgoldenrod;
}

.main_container {
  position: relative;
  padding: 0 0 0.7em 0;
  display: flex;
  flex-grow: 1;
  height: max-content;
  min-height: 100%;
  gap: 1em;
  overflow: scroll;
  scroll-snap-type: mandatory y;
}

@media only screen and (max-width: 62em) {
  .main_container {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 42em) {
  .main_container {
    padding: 0;
  }
}
