* {
    box-sizing: border-box;
    position: relative;
}

h1 {
    margin-bottom: 0.25em;
    position: sticky;
    top: 0;
    background: inherit;
}

h2 {
    font-family: Windlass, Roboto, sans-serif;
    margin: 0;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.02);
    width: 100%;
    font-size: 0.9em;
    color:rgba(0, 0, 0, 0.45);
}