h1 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    position: sticky;
    top: 0;
    background: inherit;
}

#donation_container {
    margin: 0 1.25em;
}

#donation_container > .whitebox {
    width: 100%;
}